body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.projects-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#projects-header {
    clear: both;
    color: gray;
    white-space: nowrap;
    margin: 0% 0% 0% 0%;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0px 20px 0px;
}

.project-card {
    position: relative;
    width: 320px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 30px 10px 30px;
    transition: 0.5s;
}

.project-content {
    position: relative;
    left: 0;
    padding: 15px 40px;
    margin: 10%;
    background: rgb(40, 41, 43);
    border-radius: 8px;
    z-index: 1;
    transform: .5s;
    color: #fff;
}

.project-content::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(#ffffff, #383c42);
    filter: blur(10px);
    border-radius: 8px;
    opacity: 0.35;
    transition: opacity 0.5s;
    z-index: -1;
}

.project-card:nth-child(1) .project-content::before {
    background: linear-gradient(#db3e26, #1885c4);
}

.project-card:hover .project-content::before {
    opacity: 0.6;
    filter: blur(30px);
}

.project-content h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}

.project-content p {
    font-size: 1.1rem;
    margin-bottom: 15px;
    line-height: 1.5rem;
}

.project-content a {
    display: inline-block;
    font-size: 1.1rem;
    color: #000000;
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    margin: 5px 0px;
}

.project-content a:hover {
    background: #b9b8bd;
    box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

#more-projects-notice {
    clear: both;
    color: gray;
    white-space: nowrap;
    margin-bottom: 8%;
}